In [1]:
import pandas as pd
import gmaps
from config import api_key
# Import File (CSV)
latlon_df=pd.read_csv("../Resources/states_lat_lon.csv")

latlon_df.head()

  states.csv Unnamed: 1   Unnamed: 2 Unnamed: 3
0        NaN        NaN          NaN        NaN
1      state   latitude    longitude       name
2         AK  63.588753  -154.493062     Alaska
3         AL  32.318231   -86.902298    Alabama
4         AR   35.20105   -91.831833   Arkansas

In [2]:
latlon_df = latlon_df.drop([0,1])

In [3]:
latlon_df = latlon_df.drop(41)

In [4]:
#latlon_df=latlon_df.set_index(['Unnamed: 3'])
len(latlon_df)
display(latlon_df)

   states.csv Unnamed: 1   Unnamed: 2            Unnamed: 3
2          AK  63.588753  -154.493062                Alaska
3          AL  32.318231   -86.902298               Alabama
4          AR   35.20105   -91.831833              Arkansas
5          AZ  34.048928  -111.093731               Arizona
6          CA  36.778261  -119.417932            California
7          CO  39.550051  -105.782067              Colorado
8          CT  41.603221   -73.087749           Connecticut
9          DC  38.905985   -77.033418  District of Columbia
10         DE  38.910832    -75.52767              Delaware
11         FL  27.664827   -81.515754               Florida
12         GA  32.157435   -82.907123               Georgia
13         HI  19.898682  -155.665857                Hawaii
14         IA  41.878003   -93.097702                  Iowa
15         ID  44.068202  -114.742041                 Idaho
16         IL  40.633125   -89.398528              Illinois
17         IN  40.551217   -85.602364               Indiana
18         KS  39.011902   -98.484246                Kansas
19         KY  37.839333   -84.270018              Kentucky
20         LA  31.244823   -92.145024             Louisiana
21         MA  42.407211   -71.382437         Massachusetts
22         MD  39.045755   -76.641271              Maryland
23         ME  45.253783   -69.445469                 Maine
24         MI  44.314844   -85.602364              Michigan
25         MN  46.729553     -94.6859             Minnesota
26         MO  37.964253   -91.831833              Missouri
27         MS  32.354668   -89.398528           Mississippi
28         MT  46.879682  -110.362566               Montana
29         NC  35.759573     -79.0193        North Carolina
30         ND  47.551493  -101.002012          North Dakota
31         NE  41.492537   -99.901813              Nebraska
32         NH  43.193852   -71.572395         New Hampshire
33         NJ  40.058324   -74.405661            New Jersey
34         NM   34.97273  -105.032363            New Mexico
35         NV   38.80261  -116.419389                Nevada
36         NY  43.299428   -74.217933              New York
37         OH  40.417287   -82.907123                  Ohio
38         OK  35.007752   -97.092877              Oklahoma
39         OR  43.804133  -120.554201                Oregon
40         PA  41.203322   -77.194525          Pennsylvania
42         RI  41.580095   -71.477429          Rhode Island
43         SC  33.836081   -81.163725        South Carolina
44         SD  43.969515   -99.901813          South Dakota
45         TN  35.517491   -86.580447             Tennessee
46         TX  31.968599   -99.901813                 Texas
47         UT   39.32098  -111.093731                  Utah
48         VA  37.431573   -78.656894              Virginia
49         VT  44.558803   -72.577841               Vermont
50         WA  47.751074  -120.740139            Washington
51         WI   43.78444   -88.787868             Wisconsin
52         WV  38.597626   -80.454903         West Virginia
53         WY  43.075968  -107.290284               Wyoming

In [5]:
latlon_df=latlon_df.rename(columns={'Unnamed: 1': 'Latitude','Unnamed: 2': 'Longitude','Unnamed: 3':'state'})
display(latlon_df)

   states.csv   Latitude    Longitude                 state
2          AK  63.588753  -154.493062                Alaska
3          AL  32.318231   -86.902298               Alabama
4          AR   35.20105   -91.831833              Arkansas
5          AZ  34.048928  -111.093731               Arizona
6          CA  36.778261  -119.417932            California
7          CO  39.550051  -105.782067              Colorado
8          CT  41.603221   -73.087749           Connecticut
9          DC  38.905985   -77.033418  District of Columbia
10         DE  38.910832    -75.52767              Delaware
11         FL  27.664827   -81.515754               Florida
12         GA  32.157435   -82.907123               Georgia
13         HI  19.898682  -155.665857                Hawaii
14         IA  41.878003   -93.097702                  Iowa
15         ID  44.068202  -114.742041                 Idaho
16         IL  40.633125   -89.398528              Illinois
17         IN  40.551217   -85.602364               Indiana
18         KS  39.011902   -98.484246                Kansas
19         KY  37.839333   -84.270018              Kentucky
20         LA  31.244823   -92.145024             Louisiana
21         MA  42.407211   -71.382437         Massachusetts
22         MD  39.045755   -76.641271              Maryland
23         ME  45.253783   -69.445469                 Maine
24         MI  44.314844   -85.602364              Michigan
25         MN  46.729553     -94.6859             Minnesota
26         MO  37.964253   -91.831833              Missouri
27         MS  32.354668   -89.398528           Mississippi
28         MT  46.879682  -110.362566               Montana
29         NC  35.759573     -79.0193        North Carolina
30         ND  47.551493  -101.002012          North Dakota
31         NE  41.492537   -99.901813              Nebraska
32         NH  43.193852   -71.572395         New Hampshire
33         NJ  40.058324   -74.405661            New Jersey
34         NM   34.97273  -105.032363            New Mexico
35         NV   38.80261  -116.419389                Nevada
36         NY  43.299428   -74.217933              New York
37         OH  40.417287   -82.907123                  Ohio
38         OK  35.007752   -97.092877              Oklahoma
39         OR  43.804133  -120.554201                Oregon
40         PA  41.203322   -77.194525          Pennsylvania
42         RI  41.580095   -71.477429          Rhode Island
43         SC  33.836081   -81.163725        South Carolina
44         SD  43.969515   -99.901813          South Dakota
45         TN  35.517491   -86.580447             Tennessee
46         TX  31.968599   -99.901813                 Texas
47         UT   39.32098  -111.093731                  Utah
48         VA  37.431573   -78.656894              Virginia
49         VT  44.558803   -72.577841               Vermont
50         WA  47.751074  -120.740139            Washington
51         WI   43.78444   -88.787868             Wisconsin
52         WV  38.597626   -80.454903         West Virginia
53         WY  43.075968  -107.290284               Wyoming

In [6]:
latlon_df=latlon_df[['Latitude','Longitude','state']]
latlon_df.head()

    Latitude    Longitude       state
2  63.588753  -154.493062      Alaska
3  32.318231   -86.902298     Alabama
4   35.20105   -91.831833    Arkansas
5  34.048928  -111.093731     Arizona
6  36.778261  -119.417932  California

In [7]:
locations = latlon_df[["Latitude", "Longitude"]]
len(locations)

51

In [8]:
breweries_df=pd.read_csv('../Resources/breweries.csv')
breweries_df

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,NaN,NaN,Knox,Indiana,NaN,46534,NaN,6308165790,2018-07-24 01:33:21,2018-08-24 00:32:25,United States,-86.627954,41.289715,NaN
1,10-barrel-brewing-co-bend,10 Barrel Brewing Co,large,62970 18th St,NaN,NaN,Bend,Oregon,NaN,97701-9847,http://www.10barrel.com,5415851007,2018-07-24 01:34:04,2018-08-11 21:39:09,United States,NaN,NaN,NaN
2,10-barrel-brewing-co-bend-2,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,NaN,NaN,Bend,Oregon,NaN,97703-2465,NaN,5415851007,2018-07-24 01:34:04,2018-08-11 21:39:09,United States,NaN,NaN,NaN
3,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,NaN,NaN,Bend,Oregon,NaN,97701,NaN,5415851007,2018-07-24 01:34:04,2018-08-24 15:45:44,United States,-121.280954,44.091211,NaN
4,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,NaN,NaN,Boise,Idaho,NaN,83702-5857,http://www.10barrel.com,2083445870,2018-07-24 01:33:17,2020-10-11 17:00:13,United States,-116.202929,43.618516,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,zuni-street-brewing-company-denver,Zuni Street Brewing Company,micro,2355 W 29th Ave,NaN,NaN,Denver,Colorado,NaN,80211-3753,http://www.zunistreetbrewing.com,3038626525,2018-07-24 01:33:09,2018-08-24 00:25:18,United States,-105.015409,39.758593,NaN
7793,zwanzigz-brewing-columbus,ZwanzigZ Brewing,brewpub,1038 Lafayette Ave,NaN,NaN,Columbus,Indiana,NaN,47201-5756,http://www.zwanzigz.com,8123760200,2018-07-24 01:33:23,2018-08-24 00:33:42,United States,-85.918836,39.208657,NaN
7794,zwei-brewing-co-fort-collins,Zwei Brewing Co,micro,4612 S Mason St Ste 120,NaN,NaN,Fort Collins,Colorado,NaN,80525-3794,http://www.zweibruderbrewing.com,9702232482,2018-07-24 01:33:09,2018-08-11 21:36:45,United States,NaN,NaN,NaN
7795,zydeco-brew-werks-tampa,Zydeco Brew Werks,brewpub,1902 E 7th Ave,NaN,NaN,Tampa,Florida,NaN,33605-3810,NaN,8132524541,2018-07-24 01:33:15,2018-08-24 00:28:55,United States,-82.437832,27.960344,NaN
7796,zymurgy-brew-works-torrance,Zymurgy Brew Works,micro,22755 Hawthorne Blvd,NaN,NaN,Torrance,California,NaN,90505-3613,http://www.zymurgybrewworks.com,3106502474,2018-07-24 01:33:03,2018-08-24 00:05:10,United States,-118.352467,33.863537,NaN

In [9]:
breweries_df.value_counts()

Series([], dtype: int64)

In [10]:
brewery_count=breweries_df.value_counts()
brewery_count.dtypes

dtype('int64')

In [11]:
merged_set=pd.merge(latlon_df,breweries_df,on='state')
merged_set.dropna()

Empty DataFrame
Columns: [Latitude, Longitude, state, id, name, brewery_type, street, address_2, address_3, city, county_province, postal_code, website_url, phone, created_at, updated_at, country, longitude, latitude, tags]
Index: []

In [12]:
state_count=merged_set['state'].value_counts()
state_count

California              896
Colorado                429
Washington              422
New York                415
Michigan                375
Texas                   343
Pennsylvania            343
Florida                 312
North Carolina          307
Ohio                    303
Oregon                  291
Virginia                254
Illinois                249
Wisconsin               217
Minnesota               182
Massachusetts           163
Indiana                 162
Missouri                141
Arizona                 124
New Jersey              115
Maine                   114
Maryland                109
Tennessee               108
Georgia                  99
Montana                  92
Connecticut              92
Iowa                     87
New Mexico               83
South Carolina           76
New Hampshire            72
Idaho                    64
Vermont                  59
Kentucky                 58
Nebraska                 53
Alaska                   51
Nevada                   51
Kansas                   47
Alabama                  45
Arkansas                 45
Oklahoma                 44
Louisiana                43
Utah                     41
Wyoming                  32
West Virginia            30
Delaware                 28
South Dakota             26
Hawaii                   23
Rhode Island             23
North Dakota             16
District of Columbia     16
Mississippi              16
Name: state, dtype: int64

In [13]:
len(locations)
df = pd.DataFrame(state_count)
state = df["state"]
state

California              896
Colorado                429
Washington              422
New York                415
Michigan                375
Texas                   343
Pennsylvania            343
Florida                 312
North Carolina          307
Ohio                    303
Oregon                  291
Virginia                254
Illinois                249
Wisconsin               217
Minnesota               182
Massachusetts           163
Indiana                 162
Missouri                141
Arizona                 124
New Jersey              115
Maine                   114
Maryland                109
Tennessee               108
Georgia                  99
Montana                  92
Connecticut              92
Iowa                     87
New Mexico               83
South Carolina           76
New Hampshire            72
Idaho                    64
Vermont                  59
Kentucky                 58
Nebraska                 53
Alaska                   51
Nevada                   51
Kansas                   47
Alabama                  45
Arkansas                 45
Oklahoma                 44
Louisiana                43
Utah                     41
Wyoming                  32
West Virginia            30
Delaware                 28
South Dakota             26
Hawaii                   23
Rhode Island             23
North Dakota             16
District of Columbia     16
Mississippi              16
Name: state, dtype: int64

In [14]:
locations = locations.astype(float)
state = state.astype(float)

In [15]:
# Plot Heatmap
fig = gmaps.figure()


# Create heat layer
heat_layer = gmaps.heatmap_layer(locations[["Latitude", "Longitude"]], weights=state, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)


# Add layer
fig.add_layer(heat_layer)

# # Display figure
fig

Figure(layout=FigureLayout(height='420px'))